body {
  min-height: 100vh;
  font-size: 1.2rem;

  display: grid;
  grid-template-rows: 80px 1fr 450px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
}

:root {
  /* Colors */
  --color-primary: #fe5f41;
  --color-secondary: #fe614110;

  --color-text-primary: #ffffff;
  --color-text-secondary: #4d312c;

  /* Spacing (rem-based) */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-xxl: 4rem; /* 64px */

  /* Button padding */
  --padding-btn-sm: 0.4rem 0.8rem;
  --padding-btn-md: 0.6rem 0.8rem;
  --padding-btn-lg: 0.8rem 1.5rem;

  /* Border-Radius */
  --radius-x-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-x-large: 24px;
  --radius-round: 50%;

  /* Font Sizes (rem-based) */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/* Header */
#header {
  border: 1px solid red;
  background-color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

/* Header (Left) */
.header__left {
  padding-left: var(--spacing-xl);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

.logo {
  height: 100%;
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.logo__img {
  width: 64px;
}

.logo__text {
  font-size: var(--font-size-xxl);
}

.header__left-navbar {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.header__left-navbar-button {
  background-color: inherit;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-secondary);
  padding-bottom: 0.6rem;
}

.header__left-navbar-button:hover {
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}

/* Header (Right) */
.header__right {
  padding-right: var(--spacing-xl);
  display: grid;
  place-items: center;
  height: 100%;
}

.header__right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}

.book-table {
  background-color: inherit;
  color: var(--color-primary);

  border-bottom: 3px solid var(--color-primary);

  padding-bottom: 0.6rem;
}

.phone {
  background-color: var(--color-primary);

  display: flex;
  align-items: center;

  padding: 0px 30px;

  border-radius: 35px;

  color: var(--color-text-primary);
}

.phone__img {
  width: 28px;
}

/* Footer */
#footer {
  border: 2px solid red;

  display: grid;
  place-items: center;
}

.footer__row {
  width: 70%;

  display: flex;
  justify-content: center;
  gap: var(--spacing-xxl);
}

.footer__col {
  border: 1px solid blue;
  flex: 1;
}

.footer__section-title {
  font-size: 1.3rem;
}
/* Footer (Description) */
.footer__col--description {
  min-width: 400px;
}

.description__title {
  font-size: 1.4rem;
}

.description__text {
  font-weight: var(--font-weight-thin);
}

.description__logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
/* Footer (Quick Links) */
.quick-links__title,
.cakes__title {
  margin-bottom: 2rem;
}

.quick-links__wrapper,
.cakes__wrapper {
  padding-left: 0;
}

.quick-links__item,
.cakes__item {
  list-style: none;
  margin-bottom: 16px;
}

/* Footer (Cakes) */
