@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFontopszwght.eot");
  src: url("./assets/fonts/Inter-VariableFontopszwght.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Inter-VariableFontopszwght.woff2") format("woff2"),
    url("./assets/fonts/Inter-VariableFontopszwght.woff") format("woff"),
    url("./assets/fonts/Inter-VariableFontopszwght.ttf") format("truetype"),
    url("./assets/fonts/Inter-VariableFontopszwght.svg#Inter") format("svg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 80px 1fr 450px;

  font-family: "Inter", serif;
  color: var(--color-text-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
}

:root {
  /* Colors */
  --color-primary: #fe5f41;
  --color-primary-hover: #ec583a;
  --color-secondary: #fff4f2;

  --color-text-primary: #ffffff;
  --color-text-secondary: #4d312c;

  /* Spacing (rem-based) */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-xxl: 4rem; /* 64px */

  /* Button padding */
  --padding-btn-sm: 0.4rem 0.8rem;
  --padding-btn-md: 0.6rem 0.8rem;
  --padding-btn-lg: 0.8rem 1.5rem;
  --padding-btn-xl: 1.4rem 1.8rem;

  /* Border-Radius */
  --radius-x-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-x-large: 24px;
  --radius-round: 50%;

  /* Font Sizes (rem-based) */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/* Header */
#header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Overall Style */
.call-to-action {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

.call-to-action:hover {
  background-color: var(--color-primary-hover);
}

/* Shared Hero Styles */
.text-block {
  background-color: var(--color-secondarys);

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  padding-left: 15rem;
}

.section-headline {
  font-size: 2.5rem;

  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}

.section-description {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
}

.section-graphic {
  width: 50%;
}

.graphic-img {
  width: 100%;
  object-fit: contain;
}

/* Shared Menu Styles */
.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34rem;
}

.menu-btn {
  align-self: start;

  border-radius: 40px;
  padding: 25px 60px;
}

.menu-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40%;
}

/* Menu (Card) Styles */
.menu-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(450px, 1fr));
  place-items: center;
  gap: var(--spacing-md);

  max-width: 75%;
}
.menu-card-item {
  position: relative;
  background-color: var(--color-text-primary);
  color: #0c0c0c;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 450px;
  height: 500px;

  border-radius: var(--radius-small);
  transition: all 0.3s ease-out;
}

.menu-card-item:hover {
  cursor: pointer;
}

.menu-card-item:hover .menu-card-img {
  transform: scale(0.95);
}

.menu-card-item:hover .menu-card-order-btn {
  color: var(--color-primary);
}

.menu-card-item > .menu-card-graphic {
  width: 50%;
  padding-top: 40px;
}

.menu-card-img {
  max-width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

  transition: transform 0.3s ease-out;
}

.menu-card-details {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 40px 60px;
}

.menu-card-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  margin-top: 0;
  margin-bottom: 0;
}

.menu-card-price {
  position: absolute;
  top: 150px;
  right: 80px;

  background-color: var(--color-primary);
  color: var(--color-text-primary);

  display: grid;
  place-items: center;

  width: 80px;
  height: 80px;
  border-radius: var(--radius-round);

  font-weight: var(--font-weight-bold);
}

.menu-card-order-btn {
  background-color: var(--color-text-primary);
  color: #0c0c0c;

  border-bottom: 3px solid var(--color-primary);

  margin-top: var(--spacing-sm);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;

  transition: all 0.3s ease-out;
}

/* Header (Left) */
.header__left {
  padding-left: var(--spacing-xl);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

.logo {
  height: 100%;
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.logo__img {
  width: 64px;
}

.logo__text {
  font-size: var(--font-size-xxl);
}

.header__left-navbar {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.header__left-navbar-button {
  background-color: inherit;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-secondary);
  padding-bottom: 0.6rem;

  border: none; /* Remove default borders */
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.header__left-navbar-button:hover {
  color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

/* Header (Right) */
.header__right {
  padding-right: var(--spacing-xl);
  display: grid;
  place-items: center;
  height: 100%;
}

.header__right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}

.book-table {
  background-color: inherit;
  color: var(--color-primary);

  border-bottom: 3px solid var(--color-primary);

  padding-bottom: 0.6rem;
}

.phone {
  display: flex;
  align-items: center;

  padding: 0px 30px;

  border-radius: 35px;
}

.phone__img {
  width: 28px;
}

/*  Hero */
.hero {
  background-color: var(--color-secondary);

  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;

  overflow: hidden;
}

.hero__text-block {
  align-items: end;
}

.hero__text-block--headline {
  font-size: 4rem;
}

.text-block__btn {
  align-self: start;
  padding: var(--padding-btn-xl);
  margin-top: var(--spacing-sm);

  border-radius: 35px;
}

/* Our Services */
.our-services {
  display: grid;
  place-items: center;

  padding-top: 120px;
  padding-bottom: 120px;
}

.our-services__container {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
}

.our-services__header {
  display: grid;
  place-items: center;

  width: 75%;

  text-align: center;

  margin-bottom: var(--spacing-xl);
}

.our-services__description {
  max-width: 90%;
}

.our-services__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
  width: 100%;
}

.our-services__card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  text-align: center;

  max-width: 450px;
  padding: 47px 46px 36px 46px;

  border: 1px solid #e6dad8;
  border-radius: var(--radius-small);

  transition: all 0.3s ease-out 0s;
}

.our-services__card-item:hover {
  border: 1px solid transparent;
  box-shadow: 0 25px 38px rgba(254, 95, 65, 0.1);
}

.our-services__card-item:hover .our-services__card-item-title {
  transition: all 0.3s ease-out 0s;
  color: var(--color-primary);
}

.our-services__card-item-caption {
  padding: var(--spacing-sm);
}

.our-services__card-item-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

/* Most Popular & Menu */
.most-popular {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);

  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-xl);

  padding-top: 120px;
  padding-bottom: 120px;
}

.menu {
  color: var(--color-text-primary);

  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-xl);

  padding-top: 120px;
  padding-bottom: 120px;
}

.menu__hero {
  background-color: var(--color-secondary);

  height: 50vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;

  overflow: hidden;
}

.menu__text-block--headline {
  font-size: 4rem;
}

.menu__container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  place-items: center;
  gap: var(--spacing-xl);
}

.menu__card-item {
  border: 1px solid #e6dad8;
}

/* Booking Area */
.booking-area {
  display: grid;
  place-items: center;

  padding-top: 120px;
  padding-bottom: 120px;
}

.booking-area__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  width: 100%;
}

.booking-area__graphic {
  max-width: 100%;
}

.booking-area__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: var(--radius-large);
  width: 100%;
}

.booking-area__content {
  align-self: start;

  max-width: 500px;
}

.booking-area__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);

  margin-top: var(--spacing-xl);

  width: 100%;
}

.booking-area__form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  width: 100%;
}

.booking-area__label {
  font-size: 1.1rem;
}

.booking-area__date-time {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
}

.booking-area__input {
  padding: var(--spacing-sm);
  border-radius: var(--radius-small);

  outline: none;
  border: 1px solid #e6dad8;
}

.booking-area__input--datetime {
  width: 100%;
}

.booking-area__form-button {
  border-radius: 30px;

  margin-top: var(--spacing-sm);
  padding: 16px 40px;
  width: 100%;
}

/* Customers */
.customer {
  display: grid;
  place-items: center;

  padding-bottom: 120px;
}

.customer__header {
  display: grid;
  place-items: center;

  width: 75%;

  text-align: center;

  margin-bottom: var(--spacing-xl);
}

.customer__description {
  max-width: 45%;
}

.customer__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
  width: 100%;
}

.customer__card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  text-align: center;

  max-width: 450px;
  padding: 47px 46px 36px 46px;

  border: 1px solid #e6dad8;
  border-radius: var(--radius-small);

  transition: all 0.3s ease-out 0s;
}

.customer__card-item:hover {
  border: 1px solid transparent;
  box-shadow: 0 25px 38px rgba(254, 95, 65, 0.1);
}

.customer__card-item > .card-item__graphic {
  width: 30%;
}

.card-item__rating,
.rating__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item__caption {
  text-align: center;
  font-weight: var(--font-weight-light);
}

.rating__list {
  list-style: none;
}

.star:before {
  content: "★"; /* Unicode star character */
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-right: var(--spacing-xxs);
}

/* Footer */
#footer {
  background-color: var(--color-secondary);

  display: grid;
  place-items: center;
}

.footer__row {
  width: 70%;

  display: flex;
  justify-content: center;
  gap: var(--spacing-xxl);
}

.footer__col {
  flex: 1;
}

.footer__section-title {
  font-size: 1.3rem;
}
/* Footer (Description) */
.footer__col--description {
  min-width: 400px;
}

.description__title {
  font-size: 1.4rem;
}

.description__text {
  font-weight: var(--font-weight-light);
}

.description__logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.description__socials {
  margin-top: 2.5rem;
  display: flex;
  gap: var(--spacing-sm);
}

.socials__icon {
  width: 24px;
}

/* Footer (Quick Links, Cakes, & Contact Us) */
.quick-links__title,
.cakes__title,
.contact-us__title {
  margin-bottom: 3rem;
}

.quick-links__wrapper,
.cakes__wrapper,
.contact-us__wrapper {
  padding-left: 0;
}

.quick-links__item,
.cakes__item,
.contact-us__item {
  list-style: none;
  margin-bottom: 22px;
}
/* Footer (Contact Us) */

.contact-us__item {
  display: flex;
  align-items: start;
  gap: var(--spacing-sm);
}

.contact-us__item img {
  width: 22px;
}
